{% extends "proyectoWebapp/base.html" %} 

{% load static %}

{% block content %}

{% for Consultar in consultar %}

<div class="card">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Contratos</h4>
        <<div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">titulo</th>
                        <th scope="col">cliente</th>
                        <th scope="col">observacion</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr class="">
                        <td scope="row">Item</td>
                        <td>Item</td>
                        <td>Item</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

</div>
{% endfor %}
    <!--div class="col-md-3">

    <div class="card" style="width: 100%; margin: 5px 5px;">

      
        <div class="card-body" style="text-align: center;">

            <h7 class="card-title">{{Consultar.titulo}}</h7>

            <p class="card-text">{{Consultar.cliente}}</p>


        </div--> 
        
        
    </div><!--card que se cierra-->
    
  </div>
 

{% endblock %}